@model List<KullaniciDto>
@{
    int id = 1;
    ViewData["Title"] = "List";
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-xxl">
        <!--begin::Card-->
        <div class="card">
          
            <!--begin::Card body-->
            <div class="card-body py-4">
                <!--begin::Table-->
                <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_users">
                    <!--begin::Table head-->
                    <thead>
                    <!--begin::Table row-->
                    <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">

                        <th class="min-w-125px"> </th>
                        <th class="min-w-125px">Kullanici Adı</th> 
                        <th class="min-w-125px">Sifre</th> 

                        <th></th>
                        </tr>
                        <!--end::Table row-->
                    </thead>
                    <!--end::Table head-->
                    <!--begin::Table body-->
                    <tbody class="text-gray-600 fw-bold">

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@id</td>
                                <td>@item.KullaniciAdi</td>
                                <td>@item.Sifre</td>
                                <td class="text-end">
                                    <a href="#" class="btn btn-light btn-active-light-primary btn-sm" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                        Seçenekler
                                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
                                        <span class="svg-icon svg-icon-5 m-0">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="currentColor"></path>
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </a>
                                    <!--begin::Menu-->
                                    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" data-kt-menu="true">

                                        <!--begin::Menu item-->
                                        <div class="menu-item px-3">
                                            <a onclick="Delete(@item.KullaniciId)" class="menu-link px-3">Sil</a>
                                        </div>
                                        <!--end::Menu item-->
                                    </div>
                                    <!--end::Menu-->
                                </td>
                            </tr>
                           
                            id++;
                        }
                    </tbody>
                    <!--end::Table body-->
                </table>
                <!--end::Table-->
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Container-->
</div>

@section scripts{
    <script src="~/assets/js/custom/apps/user-management/users/list/table.js"></script>
    <script src="~/assets/js/custom/apps/user-management/users/list/export-users.js"></script>
    <script src="~/assets/js/custom/apps/user-management/users/list/add.js"></script>
    <script>
        function Delete(id) {
            Swal.fire({
                title: "Emin misiniz",
                text: "Bu Kullanıcıyı Silmeyi Onaylıyormusunuz? ",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Onayla!",
                cancelButtonText: "Vazgeç!",
                reverseButtons: true
            }).then(function (result) {
                if (result.value) {
                    $.ajax({
                        url: '@Url.Action("Delete")/' + id,
                        type: 'GET',
                        success: function (data) {
                            alert(data)
                            if (data) {
                                toastr.success("Silme İşlemi Başarıyla Gerçekleştirildi", "Başarılı");
                                setTimeout(function () {
                                    location.reload(true)
                                },
                                    1500);

                            } else {

                                Swal.fire({
                                    position: 'center',
                                    icon: 'error',
                                    title: "Silme İşlemi Başarısız",
                                    showConfirmButton: true,
                                    text: data.Message,
                                    customClass: {
                                        confirmButton: 'btn btn-primary'
                                    },
                                    buttonsStyling: true
                                });
                            }
                        },
                        error: function (data) {
                            alert(data)
                            if (data.result === false) {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'error',
                                    title: "Silme İşlemi Başarısız",
                                    showConfirmButton: false,
                                    timer: 1500,
                                    customClass: {
                                        confirmButton: 'btn btn-primary'
                                    },
                                    buttonsStyling: false
                                });
                            }


                        }
                    });
                } else if (result.dismiss === "cancel") {
                    Swal.fire(
                        "Vazgeçildi",
                        "Istasyon Silmeden Vazgeçildi",
                        "error"
                    )
                }
            });
        }
    </script>
   

}